<div class="chat__container">
  <section class="chat__panel">
    {{{panel}}}
  </section>
  <section class="chat__preview">
    {{{preview}}}
  </section>
  <section class="chat__header">
    {{{header}}}
  </section>
  <section class="chat__conversation">
    {{{conversation}}}
  </section>
  <section class="chat__message">
    {{{message}}}
  </section>
</div>
