<label class="user-field__label">
  <span class="user-field__capture">
    {{ label }}
  </span>
<input
  class="user-field__input"
  type="{{type}}"
  name="{{name}}"
  value="{{value}}"
  placeholder="{{placeholder}}"
/>
</label>
