<input class="preview__input visually-hidden" type="radio" name="avatar">
<div class="preview__container">
  <div class="preview__avatar">
    {{{avatar}}}
  </div>
  <h3 class="preview__title">
    {{title}}
  </h3>
  <p class="preview__text">
    {{#if text}}
      {{text}}
    {{else}}
      <span class="preview__text--default">
        Пока нет сообщений
      </span>
    {{/if}}
  </p>
  <time
    class="preview__time"
    datetime="{{date}}"
  >
    {{dateString}}
  </time>
  <div class="preview__tick">
    {{#if tickIcon}}
      {{{tickIcon}}}
    {{/if}}
  </div>
</div>
